@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,YOPQ@8..144,100..1000,73&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* { padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}   



body {
   margin: 15px;
    background-color: rgba(225, 225, 225, 0.635);
    display: flex;
  justify-content: center;
  align-items: center;

}

.mainConatiner {
    display: flex;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    height: auto;
    max-width: 1200px;
    overflow: hidden;
    width: 100%;
    backdrop-filter: blur(15px) saturate(200%);
    -webkit-backdrop-filter: blur(15px) saturate(200%);
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.15), 
                -8px -8px 30px rgba(0, 0, 0, 0.05); 
    border: 5px solid rgba(216, 216, 216, 0.644);
}

@media (max-width: 768px) {
    body {
        margin: 0%;
    }
    .mainConatiner {
        flex-direction: column;
        border-radius: 0;
        border: none;
    }
    .left, .right {
        flex: none;
        width: 100%;
    }
    .forecast-items {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    
}


.left {
    position: relative;
    margin: 0px;
    background: #F5F5F5;

    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );



    display: flex;
    flex: 1;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

/* Individual result items (buttons/divs) */


.input {
    width: 270px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

input {
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    padding: 8px;
    border-radius: 20px;
    border: 5px solid rgb(197, 196, 196);
    width: 100%;
    height: 100%;
    background-color: #efefef;
}
#cityinput::-webkit-search-cancel-button {
    width: 20px; /* Set the width of the close icon */
    height: 20px; /* Set the height of the close icon */
    background-color: transparent; /* Background color */
    border: 2px solid black;
}
.search-icon {
    background: transparent; /* Transparent background */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 30px; /* Adjust icon size */
    width: 40px; /* Set button width */
    height: 40px; /* Set button height */
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.img {
    position: relative;
    height: 120px;
    width: 120px;
    margin-top: 30px;
    
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 10px rgb(165, 165, 165)); /* Single shadow for all */
    background-color: transparent;
}

.weather-info {
margin-top: 17px;
  display: flex;
  flex-direction: column;
}

.weather-info h1 {
    display: none;
    font-size: 58px;
    animation: zoom-in-temp 0.6s ease-out forwards; 
    transition: transform 0.3s ease-in-out;
}

@keyframes zoom-in-temp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 0.7;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.weather-info span {
    color: #787878;
    margin-left: 5px;
}

.weather-info p {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
}


.city-container{
    display: flex;
    gap: 4px;
}


.location {
    display: flex;
    align-items: center;
    margin-top: 80px;
    font-size: 20px;
    gap: 10px;
}

.location-svg {
    height: 25px;
    width: 25px;
}


.right {
    flex: 2.3;
    padding: 10px;
    margin: 0px;
    align-items: center;
    background: #EEEEEE;
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    overflow: hidden;
    box-sizing: border-box;
    /* Ensures content doesn't overflow */
}

.tab1 button{
    -webkit-tap-highlight-color:transparent;
    width: 65px;
    height: 30px;
    text-align: center;
    justify-content: center;
    text-align: center;
    padding: 3px;
    align-items: center;
    border-radius: 5px;
    border: 2px solid rgba(99, 99, 99, 0.518);
    border-radius: 7px;
    cursor: pointer;
    margin: auto;
    transition: all 0.1s ease-in-out;
}
.tabs {
    display: flex;
    justify-content: space-between;
    margin: 10px;
 
}


.tab1,
.tab2 {
    display: flex;
    gap: 15px;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}


.tab2 button {
    border-radius: 50px;
    border: 2px solid #cacaca9a;
    -webkit-tap-highlight-color:transparent;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 3px;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.data-forecast{
    margin-top: 20px;
    padding: 5px;
}
.forecast-items {
    margin-top: 10px;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 20px;
}

.image-forecast{
    position: relative;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.forecast-item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 10px rgb(165, 165, 165)); /* Single shadow for all */
    background-color: transparent;
}
.forecast-item h5{
    font-size:small;
    animation: zoom-in-temp 0.6s ease-out forwards; 
    transition: transform 0.3s ease-in-out;
}
.forecast-item {
    gap: 13px;
    padding: 5px;
    border-radius: 10px;
    height: auto;
    width: 95px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    animation: zoom-in 0.50s ease both;
    align-items: center;
    border: 4px solid rgba(255, 255, 255, 0.676);
  background: rgba(242, 248, 252, 0.644);
/* box-shadow: inset 2px 2px 4px 2px rgba(46, 46, 46, 0.258),inset -3px -3px 10px 2px rgba(255,255,255,0.5); */
backdrop-filter: blur( 9px );

-webkit-backdrop-filter: blur( 4px );


}

@keyframes zoom-in{
    0%{
        opacity: 0;
        transform:scale(0);
    }
    100%{
        opacity: 1;
        transform:scale(1);
    }
}
.forecast-item:nth-child(1) {
    animation-delay: 0.10s;
}

.forecast-item:nth-child(2) {
    animation-delay: 0.20s;
}

.forecast-item:nth-child(3) {
    animation-delay: 0.30s;
}

.forecast-item:nth-child(4) {
    animation-delay: 0.40s;
}

.forecast-item:nth-child(5) {
    animation-delay: 0.50s;
}

.forecast-item:nth-child(6) {
    animation-delay: 0.60s;
}

.highlights {
    padding: 5px;
    margin-top: 20px;
    /* Resetting margin */
}


h2 {
    font-size: 20px;
    margin-bottom: 10px;    
    color: #333;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
@media (max-width: 992px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
    .forecast-items{
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .forecast-item{
        width: 85px;
    }
}


.card {
    height:90px;
    width: auto;
    padding: 15px;
    border-radius: 20px;

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);

    text-align: start;
    transition: transform 0.3s ease;
    /* From https://css.glass */
    border: 4px solid rgba(255, 255, 255, 0.868);

    background: rgba(242, 248, 252, 0.644);

    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.card .small-container{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.card:hover {
    transform: translateY(-5px);
}

.card p {
    font-size: 14px;
    color: #000000;
    font-weight: 500;       
}
#sunrise,#sunset{
    font-size: 15px;
}

.card h3 {
    font-size: 20px;
    color: #333;
    font-weight: 200;
}


.card span {
    font-size: 14px;
    color: #333;
    font-weight: 200;
}

